@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    /* border: 1px solid; */
}

a{
    text-decoration: none;
    color: white;
    padding: 20px;
}

a:hover{
    transition: 0.9s ease-in-out;
}

body{
    font-family: Poppins;
    overflow-x: hidden;
}

#logo{
    width: 10%;
    height: 100%;
}

header{
    background-color: maroon;
    position: sticky;
    z-index: 1;
    top: 0;
    transition: 0.7s ease-in;
}

#nav{
    width: fit-content;
    margin-top: -70px;
    position: relative;
    top: -30px;
    left: 800px;
}

/* main{
    margin-bottom: 500px;
} */

#nav ul{
    display: flex;
    position: relative;
}   

#nav ul .items{
    color: white;
    list-style: none;
    margin-left: 20px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    padding: 20px;
}

.links:hover{
    background-color: white;
    color: maroon;
}

#slogan{
    font-weight: 500;
    font-size: 30px;
    width: fit-content;
    margin-left: 350px;
    margin-top: 120px;
    color: white; 
    background-color: maroon;
    box-shadow: 5px 5px 5px 5px rgb(125, 109, 109);
    border-radius: 5px;
    padding: 10px;
    position: relative;
    top: 80px;
}

#vote{
    font-weight: 500;
    font-size: 90px;
    margin-left: 220px;
    position: relative;
    top: 300px;
    color: maroon;
    animation: example 2s ease-in-out  forwards;
    text-align: center;
    width: 800px;
    border: 4px solid white;
    padding: 20px 0px;
}


#bar{
    width: 350px;
    height: 2px;
    background-color: red;
}

#wab{
    width: 900px;
    height: 500px;
    margin-left: 180px;
    margin-top: 100px;
    position: relative;

}

/* main{
    margin-bottom: 500px;
} */

#overlay{
position: absolute;
width: 85%;
max-width: 1000px;
height: 250px;
top: 145%;
left: 50%;
transform:  translateX(-50%) translateY(50%);
background-image: url(yo.png);
background-size: 100%;
background-position: 50% 50%;
background-repeat: no-repeat;
border-radius: 20px;
animation: change 2s ease-in-out 2s forwards;
}

@keyframes example{
    from{
        transform: translateY(70%);
        opacity: 0;
        width : 700px;
        margin-left: 280px;
    }
    to{
        transform: translateY(-50px);
        opacity: 1;
        color: rgb(255, 255, 255);
        font-size: 80px;
        width : 700px;
        margin-left: 280px;
    }

}

@keyframes change{
    from{
        position: absolute;
        width: 85%;
        max-width: 1000px;
        height: 250px;
        top: 145%;
        transform:  translateX(-50%) translateY(50%);
        background-image: url(yo.png);
        background-size: 100%;
        background-position: 50% 50%;
        background-repeat: no-repeat;
    }
    to {
        width: 800px;
        height: 450px;
    }
}

#slide-cont img{
    width: 1263px;
    height: 700px;
}

.slide{
    /* margin-top: -100px; */
    /* position: relative;
    top: -150px; */
    z-index: -100;
}

.fade{
    animation: fade 35s linear infinite;
    animation-delay: 2s;
}

#slide-cont{
    display: flex;
}

.slide .cont{
    font-size: 60px;
    margin-top: -400px;
    width: 800px;
    color: white;
    margin-left: 150px;
    position: relative;
    top: -100px;
}

#slide1 .cont, #slide2 .cont{
    width: 600px;
}

#slide3{
    background-size: cover;
}

@keyframes fade{
    0%,100%{ position: relative;left: 0;}
    5%{ position: relative;left: 0;}
    12.5%{ position: relative;left: -100%}
    25%{ position: relative;left: -100%}
    37.5%{position: relative;left: -200%;}
    50%{ position: relative;left: -200%}
    62.5%{ position: relative;left: -300%}
    75%{ position: relative;left: -300%}
    87.5%{ position: relative;left: -400%}
    95%{ position: relative;left: -400%}
}

#click-button{
    display: flex;
    margin-left: 150px;
    position: relative;
    top: -80px;
}

.dot{
    width: 7px;
    height: 7px;
    border-radius: 50px;
    background-color: white;
    transition: 0.3s ease-in;
    position: relative;
    z-index: 1;
    margin-left: 20px;
    cursor: pointer;
    opacity: 0.5;
}


.dot:hover{
    background-color: maroon;
}

.dot.active{
    background-color: maroon;
}

.prev:hover, .next:hover{
    background-color: white;
    color: red;
}

/* .slide p{
    margin-top: ;
} */


.prev{
    padding: 20px;
    border-radius: 20px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    color: white;
    position: relative;
    font-size: 25px;
    top: -275px;
    left: 10px;
}

.next{
    color: white;
    padding: 20px;
    border-radius: 20px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    position: relative;
    font-size: 25px;
    top: -275px;
    left: 1100px;
}


.hidden{
    opacity: 0;
    transition: all 1s;
    transform: translateY(-100%);
}

.show{
    opacity: 1;
    transform: translateX(0);
} 

#platforms{
    background-image: linear-gradient(rgba(128, 0, 0, 0.667), rgba(128, 0, 0, 0.667)), url(img/andrew-draper-FyrREMQkNGY-unsplash.jpg);
    margin-top: 500px;
    width: 1263px;
    height: 750px;
    background-size: cover;
    display: flex;
}

.platform-cont{
    height: fit-content;
    background-color: maroon;
    border-radius: 25px;
    padding: 10px;
    box-shadow: 7px 7px 7px 7px rgb(64, 0, 0);
    transition: 0.5s ease-in;
    cursor: pointer;
}

.platform-cont:hover{
    box-shadow: 7px 7px 7px 7px rgb(99, 8, 8);
    transform: translateY(-20px);
}

.platform-cont p{
    color: white;
    text-align: center;
}


.image{
    background-color: rgb(178, 0, 0);
    border-radius: 50px;
    padding: 10px;
    width: 50px;
    height: 50px;
    position: relative;
    left: 80px;
}

#native{
    position: relative;
    top: -10px;
    left: -4px;
}

#platform1{
    position: relative;
    top: 50px;
    left: 60px;
}

#platform2{
    position: relative;
    top: 420px;
    left: -200px;
}

#platform5{
    position: relative;
    top: 420px;
    right: 50px;
}

#platform4{
    position: relative;
    top: 50px;
    left: 200px;
}

#platform3{
    position: relative;
    top: 250px;
}

.hidden{
    opacity: 0;
    transition: all 1s;
    transform: translateY(-100%);
}

.show{
    opacity: 1;
    transform: translateX(0);
} 

/* .hidden:nth-child(2){
    transition-delay: 600ms ;
}

.hidden:nth-child(3){
    transition-delay: 700ms 
}

.hidden:nth-child(4){
    transition-delay: 800ms 
}

.hidden:nth-child(1){
    transition-delay: 500ms 
} */

footer{
    margin-top: 200px;
    background-color: maroon;
    border-radius: 20px 20px 0px 0px;
}

#footer-logo{
    width: 200px;
    height: 200px;
    position: relative;
    top: 80px;
    left: 100px;
    /* box-shadow: 5px 5px 5px 5px rgb(64, 0, 0);
    border-radius: 100%; */
}

#socials{
    position: relative;
    left: 900px;
}

#socials img{
    width: 48px;
    position: relative;
    top: -70px;
    margin-left: 10px;
    padding: 7px;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.9s ease-in-out;
}

#socials p{
    color: white;
    position: relative;
    top: -90px;
    left: 80px;
}

#twitter:hover{
    animation: twitter 5s infinite alternate ease-in-out both;
}

@keyframes twitter{
    from{
        background-color: #3b8dff;
        transform: rotate(0deg);
    }
    to{
        background-color: white;
        transform: rotate(360deg);
    }
}

#facebook:hover{
    background-color: rgb(5, 0, 147);
    animation: facebook 5s infinite alternate ease-in-out both;
}

@keyframes facebook{
    from{
        background-color: rgb(5, 0, 147);
        transform: rotate(0deg);
    }
    to{
        background-color: white;
        transform: rotate(360deg);
    }
}

#instagram:hover{
    animation: instagram 7s infinite alternate ease-in-out both;
}

@keyframes instagram {
    0%{
        background-color: #3d1a52;
        transform: rotate(0deg);
    }
    20%{
        background-color: #8a3ab9;
    }
    40%{
        background-color: #e95950;
    }
    60%{
        background-color: #bc2a8d;
    }
    80%{
        background-color: #fccc63;
    }
    100%{
        background-color: #fbad50;
        transform: rotate(360deg);
    }
}

#youtube:hover{
    animation: youtube 5s infinite alternate ease-in-out both;
}

@keyframes youtube{
    from{
        background-color: rgb(214, 0, 0);
        transform: rotate(0deg);
    }
    to{
        background-color: white;
        transform: rotate(360deg);
    }
}

#footer-text{
    position: relative;
    top: -50px;
    left: 420px;
    color: white;
    
}


